In [64]:
import json
import pandas as pd
import io
from pandas.io.json import json_normalize
pd.set_option("display.max_columns", 0)
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.dialects.postgresql import JSON
from flask import Flask
from dotenv import load_dotenv
import numpy as np
load_dotenv()
import json
from psycopg2.extras import Json
import re
from nltk.corpus import stopwords
import time
import tensorflow as tf
from tensorflow.python.layers.core import Dense
from tensorflow.python.ops.rnn_cell_impl import _zero_state_tensors
from tensorflow.python.ops import array_ops
from tensorflow.python.ops import tensor_array_ops
print(f'TensorFlow Version: {tf.__version__}')
from sklearn.naive_bayes import MultinomialNB

TensorFlow Version: 1.13.1

In [53]:
from nltk.corpus import stopwords

In [52]:
!pip install -U nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/6f/ed/9c755d357d33bc1931e157f537721efb5b88d2c583fe593cc09603076cc3/nltk-3.4.zip (1.4MB)
    100% |████████████████████████████████| 1.4MB 25.7MB/s ta 0:00:01
Requirement not upgraded as not directly required: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk) (1.11.0)
Requirement not upgraded as not directly required: singledispatch in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk) (3.4.0.3)
Building wheels for collected packages: nltk
  Running setup.py bdist_wheel for nltk ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/4b/c8/24/b2343664bcceb7147efeb21c0b23703a05b23fcfeaceaa2a1e
Successfully built nltk
Installing collected packages: nltk
  Found existing installation: nltk 3.3
    Uninstalling nltk-3.3:
      Successfully uninstalled nltk-3.3
Successfully installed nltk-3.4
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [54]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ec2-user/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [48]:
# !pip install tensorflow

In [35]:
import os
DATABASE_URL = os.getenv("DATABASE_URL")
BUSINESS_DATABASE_URL = os.getenv("BUSINESS_DATABASE_URL")
BUSINESS_TEST = os.getenv("BUSINESS_TEST")

In [36]:
BUSINESS_DATABASE_URL, DATABASE_URL, BUSINESS_TEST

('postgres://kvpmewwuocndeu:290d7143d73ce041095858b8c8d22c2cfcc99cdca16dbc3ff2ab5f2d5df35108@ec2-75-101-133-29.compute-1.amazonaws.com:5432/d3ckh7s6ihh2al',
 'postgres://juwwvohcorbolo:ce3d8c3e671044f8e15c880db71ce26146826e3f126da53a55788f7f0a7a54ae@ec2-23-23-173-30.compute-1.amazonaws.com:5432/d4l0sqaog7kpe0',
 'postgres://jnxpcmkaaavqwv:bdd7c44b57e1ff20d16a85238b87cba387260d45054b969f68417bc8a8963508@ec2-50-17-227-28.compute-1.amazonaws.com:5432/d99mq010h4mk44')

In [49]:
# A list of contractions from http://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
"where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are"
}

In [37]:
def clean_text(text, remove_stopwords = True):
    '''Remove unwanted characters, stopwords, and format the text to create fewer nulls word embeddings'''
    
    # Convert words to lower case
    text = text.lower()
    # Replace contractions with their longer forms 
    if True:
        # We are not using "text.split()" here
        #since it is not fool proof, e.g. words followed by punctuations "Are you kidding?I think you aren't."
        text = re.findall(r"[\w']+", text)
        new_text = []
        for word in text:
            if word in contractions:
                new_text.append(contractions[word])
            else:
                new_text.append(word)
        text = " ".join(new_text)
    
    # Format words and remove unwanted characters
    text = re.sub(r'https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)# remove links
    text = re.sub(r'\<a href', ' ', text)# remove html link tag
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'[_"\-;%()|+&=*%.,!?:#$@\[\]/]', ' ', text)
    text = re.sub(r'<br />', ' ', text)
    text = re.sub(r'\'', ' ', text)
    
    # Optionally, remove stop words
    if remove_stopwords:
        text = text.split()
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
#         text = " ".join(text)

    return text

In [71]:
from sklearn.feature_extraction.text import CountVectorizer
cv_transformer = CountVectorizer(analyzer = clean_text)

In [72]:
x = cv_transformer.fit_transform(df.text)

In [73]:
nb = MultinomialNB()
nb.fit(x,df.stars)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [84]:
nb.predict(x[2:3])[0]

5.0

In [86]:
df['pstar'] = nb.predict(x)

In [87]:
df.head()

              business_id  ...    pstar
0  ujmEBvifdJM6h6RLv4wQIg  ...      1.0
1  NZnhc2sEQy3RmzKTZnqtwQ  ...      5.0
2  WTqjgwHlXbSFevF32_DJVw  ...      5.0
3  ikCg8xy5JIg_NGPx-MSIDA  ...      5.0
4  b1b1eb3uo-w561D0ZfCEiQ  ...      1.0

[5 rows x 11 columns]

In [ ]:
# !chmod 600 /home/ec2-user/.kaggle/kaggle.json

In [ ]:
# !kaggle datasets download -d yelp-dataset/yelp-dataset

In [ ]:
# !unzip yelp-dataset.zip

In [ ]:
# L = 1000
# data = []
# with open('yelp_academic_dataset_review.json') as file:
#     for i in range(0,L):
#         j = json.loads(file.readline())
#         data.append(j)

In [ ]:
# df = pd.DataFrame(data)

In [38]:
data = []
with open('yelp_academic_dataset_review.json') as file:
    for line in file:
        j = json.loads(line)
        data.append(j)

In [ ]:
len(data)

In [ ]:
data[len(data) - 1]

In [39]:
df = pd.DataFrame(data)

In [40]:
df.shape

(6685900, 9)

In [41]:
df.head()

              business_id           ...                           user_id
0  ujmEBvifdJM6h6RLv4wQIg           ...            hG7b0MtEbXx5QzbzE6C_VA
1  NZnhc2sEQy3RmzKTZnqtwQ           ...            yXQM5uF2jS6es16SJzNHfg
2  WTqjgwHlXbSFevF32_DJVw           ...            n6-Gk65cPZL6Uz8qRm3NYw
3  ikCg8xy5JIg_NGPx-MSIDA           ...            dacAIZ6fTM6mqwW5uxkskg
4  b1b1eb3uo-w561D0ZfCEiQ           ...            ssoyf2_x0EQMed6fgHeMyQ

[5 rows x 9 columns]

In [55]:
df['ctext'] = df.text.apply(lambda t: clean_text(t))
# clean_texts = []
# for text in df.review:
#     clean_texts.append(clean_text(text))
print("Texts are complete.")

Texts are complete.

In [11]:
data = []
with open('yelp_academic_dataset_business.json') as file:
    for line in file:
        j = json.loads(line)
        data.append(j)

In [12]:
bdf = pd.DataFrame(data)

In [13]:
bdf.shape

(192609, 14)

In [ ]:
bdf.head()

In [ ]:
print(bdf[2:3].attributes)

In [ ]:
bdf.columns

In [ ]:
bdf.dtypes

In [ ]:
# bfd_hours = bdf.hours.dropna()
max(bdf.state.str.len())

In [18]:
bdfr = bdf.rename(index=str, columns={"stars": "business_stars"});

In [19]:
APP = Flask(__name__)
APP.config['SQLALCHEMY_DATABASE_URI'] = BUSINESS_TEST
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [20]:
class business(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    address = DB.Column(DB.String(128), nullable=False) 
    attributes = DB.Column(JSON)
    business_id = DB.Column(DB.String(25), nullable=False)
    categories = DB.Column(DB.String(1024), nullable=True)
    city = DB.Column(DB.String(64), nullable=False)
    hours = DB.Column(JSON, nullable=True)
    is_open = DB.Column(DB.Integer, nullable=False)
    latitude = DB.Column(DB.Float, nullable=False)
    longitude = DB.Column(DB.Float, nullable=False)
    name = DB.Column(DB.String(64), nullable=False)
    postal_code = DB.Column(DB.String(8), nullable=False)
    review_count = DB.Column(DB.BigInteger, nullable=False)
    business_stars = DB.Column(DB.Float, nullable=False)
    state = DB.Column(DB.String(3), nullable=False)

    def __repr__(self):
        return f"Attributes {self.attributes} ---  Address {self.address} ---  Name {self.name} -- Stars {self.business_stars} -- Hours {self.hours}"

In [24]:
DB.drop_all()
DB.create_all()

In [29]:
DB.session.rollback()

In [32]:

target = bdfr.shape[0]
done = 0
step = 10000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(bdfr[done:done+todo].values):
        #print(type(row[1]), row[1])
#         json.dumps(row[1].__dict__)
        dictionarya = json.dumps(row[1])
        dictionaryh = json.dumps(row[5])
#         print(dictionary)
        dgo = business(address=row[0],attributes=dictionarya, business_id=row[2], categories=row[3],
                     city=row[4], hours=dictionaryh, is_open=row[6], latitude=row[7], longitude=row[8], name=row[9], 
                      postal_code=row[10], review_count=row[11], business_stars = row[12], state=row[13])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end=" ")
    break

done 10000

In [14]:
for row in DB.session.query(business).filter(business.business_id =='gnKjwL_1w79qoiV3IC_xQQ'):
    print(row)

Attributes {"GoodForKids": "True", "NoiseLevel": "u'average'", "RestaurantsDelivery": "False", "GoodForMeal": "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", "Alcohol": "u'beer_and_wine'", "Caters": "False", "WiFi": "u'no'", "RestaurantsTakeOut": "True", "BusinessAcceptsCreditCards": "True", "Ambience": "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}", "BusinessParking": "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", "RestaurantsTableService": "True", "RestaurantsGoodForGroups": "True", "OutdoorSeating": "False", "HasTV": "True", "BikeParking": "True", "RestaurantsReservations": "True", "RestaurantsPriceRange2": "2", "RestaurantsAttire": "'casual'"} ---  Address 10110 Johnston Rd, Ste 15 ---  Name Musashi Japanese Restaurant -- Stars 4.0 -- Hours {"Monday": "17:30-21:30", "Wednesday": "17:30-21:30", "Thursday": "17:30-21:30", "Friday": "17:30-22:0", "Saturday": "17:30-22:0", "Sunday": "17:30-21:0"}

In [ ]:
jdf = df.join(bdfr.set_index('business_id'), on="business_id")

In [ ]:
jdf.head()

In [ ]:
jdf[jdf.business_stars.notnull()].head()

In [2]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading https://files.pythonhosted.org/packages/8c/14/501508b016e7b1ad0eb91bba581e66ad9bfc7c66fcacbb580eaf9bc38458/python_dotenv-0.10.1-py2.py3-none-any.whl
Installing collected packages: python-dotenv
Successfully installed python-dotenv-0.10.1
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/2c/85/97db05dd8f6adff57cd1cb8acceeffdaf4724efec18b9af23f3cd75ad089/psycopg2_binary-2.7.7-cp36-cp36m-manylinux1_x86_64.whl (2.7MB)
    100% |████████████████████████████████| 2.7MB 17.4MB/s ta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.7.7
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
!pip install flask_sqlalchemy

Collecting flask_sqlalchemy
  Downloading https://files.pythonhosted.org/packages/a1/44/294fb7f6bf49cc7224417cd0637018db9fee0729b4fe166e43e2bbb1f1c8/Flask_SQLAlchemy-2.3.2-py2.py3-none-any.whl
Requirement already satisfied: SQLAlchemy>=0.8.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from flask_sqlalchemy) (1.2.11)
Requirement already satisfied: Flask>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from flask_sqlalchemy) (1.0.2)
Requirement already satisfied: Werkzeug>=0.14 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.14.1)
Requirement already satisfied: click>=5.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (6.7)
Requirement already satisfied: Jinja2>=2.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.10)
Requirement already satisfied: itsdangerous>=0.24 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.24)
Requirement already satisfied: MarkupSafe>=0.23 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Jinja2>=2.10->Flask>=0.10->flask_sqlalchemy) (1.0)
Installing collected packages: flask-sqlalchemy
Successfully installed flask-sqlalchemy-2.3.2
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [88]:
APP = Flask(__name__)

In [89]:
APP.config['SQLALCHEMY_DATABASE_URI'] = DATABASE_URL
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [90]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id', 'ctext', 'pstar'],
      dtype='object')

In [91]:
max(df.ctext.apply(len))

4773

In [ ]:
df.dtypes

In [33]:
!python -V

Python 3.6.5 :: Anaconda custom (64-bit)

In [92]:
class review(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    business_id = DB.Column(DB.String(25), nullable=False)
    date = DB.Column(DB.DateTime, nullable=False)
    stars = DB.Column(DB.Integer, nullable=False)
    pstars = DB.Column(DB.Integer, nullable=False)
    text = DB.Column(DB.String(5000), nullable=False)
    ctext = DB.Column(DB.String(5000), nullable=False)

    def __repr__(self):
        return f"Data {self.date} ---  Text {self.text}"

In [ ]:
# for index, row in np.ascontiuousarray(X_train)df.iterrows():
#         if (index > 1) and (index % 2 == 0):
#             print(index)
#             DB.session.commit()
#         dgo = Record(business_id=row.business_id, cool=row.cool, date=row.data, funny=row.funny,
#                      review_id=row.review_id, stars=row.stars, text=row.text, useful=row.useful)
#         DB.session.add(dgo)

In [101]:
DB.drop_all()

In [102]:
DB.create_all()

In [ ]:
i = 1
for row in np.ascontiguousarray(df.values):
     if i % 1000 == 0:
        print(i,end="")
#       DB.commit() 
     dgo = review(business_id=row[0], cool=row[1], date=row[2], funny=row[3],
                 review_id=row[4], stars=row[5], text=row[6], useful=row[7])
     DB.session.add(dgo)

In [ ]:
DB.session.commit()

In [ ]:
df.iloc[0,1]

In [ ]:
L = df.shape[0]

In [ ]:
DB.session.rollback()

In [95]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id', 'ctext', 'pstar'],
      dtype='object')

In [99]:
DB.session.rollback()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sqlalchemy/orm/session.py:521: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [ ]:
target = df.shape[0]
done = 0
step = 100000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(df[done:done+todo].values):
        dgo = review(business_id=row[0], date=row[2], stars=row[5], pstars=row[10], text=row[6], ctext=row[9])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end=" ")
#     break

done 100000 done 200000 done 300000 done 400000 done 500000 done 600000 done 700000 done 800000 done 900000 done 1000000 done 1100000 done 1200000 done 1300000 done 1400000 done 1500000 done 1600000 done 1700000 done 1800000 done 1900000 done 2000000 done 2100000 done 2200000 done 2300000 done 2400000 done 2500000 done 2600000 done 2700000 done 2800000 done 2900000 done 3000000 done 3100000 done 3200000 done 3300000 done 3400000 done 3500000 done 3600000 done 3700000 done 3800000 done 3900000 done 4000000 done 4100000 done 4200000 done 4300000 done 4400000 done 4500000 done 4600000 done 4700000 done 4800000 done 4900000

In [ ]:
target = df.shape[0]
done = 0
step = 100000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(df[done:done+todo].values):
        dgo = Record(business_id=row[0], cool=row[1], date=row[2], funny=row[3],
                 review_id=row[4], stars=row[5], text=row[6], useful=row[7])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end="")

In [ ]:
class review(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    business_id = DB.Column(DB.String(25), nullable=False)
    cool = DB.Column(DB.BigInteger, nullable=False)
    date = DB.Column(DB.DateTime, nullable=False)
    funny = DB.Column(DB.BigInteger, nullable=False)
    review_id = DB.Column(DB.String(25), nullable=False)
    stars = DB.Column(DB.Integer, nullable=False)
    text = DB.Column(DB.String(5000), nullable=False)
    useful = DB.Column(DB.BigInteger, nullable=False)

    def __repr__(self):
        return f"review_id {self.review_id} ---  star {self.stars}"

In [ ]:
for row in DB.session.query(review).filter(review.review_id =='Q1sbwvVQXV2734tPgoKj4Q'):
    print(row)